<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <handlers>
            <add name="MWI main" path="*.dll" verb="*" modules="CertificateMappingAuthenticationModule" scriptProcessor="C:\INETPUB\SCRIPTS\MWIMAIN.DLL" resourceType="File" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
