/* .library-detail {
  padding: 20px;
  padding-top: 0px;
}

.detailHeaderCardIcon {
  font-size: 1.2em !important;
}

.detailHeader {
  margin-bottom: 30px;
}

.detailHeaderImage {
  width: 100%;
}

.detailHeaderImage img {
  width: 100%;
} */
