@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

#welcome-button {
  width: 100% !important;
  position: absolute !important;
  top: 0 !important;
}

.homeImage {
  height: 200px !important;
}

.sortButton {
  padding: 0 2px 0 2px !important;
  width: 100%;
  font-size: 11.5px !important;
  color: white !important;
  font-weight: bold !important;
  background-color: #81687b !important;
}

.sideBarCard .ant-card-head {
  background-color: #5c7f92 !important;
  color: white !important;

  font-weight: bold;
}

.sideBarCard .ant-card-body {
  background-color: #ccdadf !important;
  padding: 10px !important;
}

#searchHistoryCard .ant-table-body {
  margin: 0 !important;
}
#searchHistoryTable {
  margin-bottom: 10px;
}
#searchHistoryTable table {
  font-size: 14px !important;
}
#searchHistoryTable thead {
  background-color: #bebebe !important;
  color: black !important;
}
#searchHistoryTable .ant-table-header-column {
  font-weight: bold !important;
}

#searchHistoryTable .ant-table-row {
  background-color: #ebecee !important;
}
#searchHistoryTable .ant-table-row td {
  padding: 4px 8px 4px 8px !important;
}

#searchHistoryTable .ant-table-row td:first-child {
  font-weight: bold !important;
}
.ant-tree-switcher {
  background-color: transparent !important;
  color: black !important;
}

.ant-descriptions-item-label {
  width: 30% !important;
  padding: 2px 10px 2px 10px !important;
}
.ant-descriptions-item-content {
  padding: 2px 10px 2px 10px !important;
}
.filterCard .ant-card-head {
  font-size: 15px !important;
  padding: 5px 15px 5px 15px !important;

  font-weight: bold !important;
}
.filterCard .ant-card-body {
  padding: 15px !important;
}

#searchFilterButton {
  width: 100% !important;
  color: white !important;
  font-weight: bold;
  background-color: #5c7f92 !important;
  height: 50px !important;
  font-size: 17px !important;
  border: none !important;
  border-radius: 0 !important;
}

.summaryRecord {
  margin-bottom: 30px;
}
.summaryRecord .ant-descriptions-item-label {
  font-weight: bold !important;
}

#summary .ant-tree-switcher-line-icon {
  margin-top: 5px !important;
}

#generalDetailData .ant-descriptions-item {
  padding-bottom: 0 !important;
}

.detailRow {
  margin-bottom: 10px;
  font-size: 16px;
}

.detailRowTitle {
  color: #5c788f !important;
  font-weight: bold !important;
}
.detailRowContent {
  background-color: whitesmoke !important;
}

#generalDetailData td,
#generalDetailData th {
  font-size: 1rem !important;
}

#banner {
  font-weight: bold;
  color: #5c788f;
  font-size: 2.5rem;
  line-height: 1.15;
}

#searchSubmitBtn {
  background-color: #81687b !important;
  color: white !important;
  font-weight: bold !important;
  border: none !important;
}

#searchSubmitBtn:hover,
.sortButton:hover {
  background-color: #977c91 !important;
  border: none !important;
}

#breadcrumb a {
  font-size: 16px !important;

  font-weight: bold !important;
}

#breadcrumb a:hover {
  color: #5c788f !important;
}

.filterCol span {
  font-size: 13px !important;
}

.boxDescription .ant-descriptions-item-label {
  background: white !important;
  border: none !important;
}

.boxDescription .ant-descriptions-item {
  padding-bottom: 1px !important;
}
.boxLocationDescription {
  border-right: 1px solid #e8e8e8 !important;
}

.boxDescription {
  margin-bottom: 3px !important;
}
