<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="mwimain" path="*.dll" verb="*" modules="IsapiModule" scriptProcessor="D:\Mike\MIT\wwwroot_mit\scripts\MWIMain.dll" resourceType="File" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
